<!-- {% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<form method="post" action="" autocomplete="off">
    {% csrf_token %}
    <h2>Login</h2>

    {% if error %}
        <p style="color:red; text-align:center;">{{ error }}</p>
    {% endif %}

    <label>Username:</label>
    <input type="text" name="username" autocomplete="off" required>

    <label>Password:</label>
    <input type="password" name="password" autocomplete="off" required>

    <button type="submit">Login</button>

    <p style="text-align:center; margin-top:15px;">
        У вас нет аккаунта?
        <a href="{% url 'register_page' %}" style="color:#2575fc; text-decoration:none;">Зарегистрироваться</a>
    </p>
</form> -->
