<!-- {% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<form method="post" action="" autocomplete="off">
    {% csrf_token %}
    <h2>Register</h2>

    <label>Username:</label>
    <input type="text" name="username" autocomplete="new-username" required>

    <label>First name:</label>
    <input type="text" name="first_name" autocomplete="off">

    <label>Last name:</label>
    <input type="text" name="last_name" autocomplete="off">

    <label>Email:</label>
    <input type="email" name="email" autocomplete="off">

    <label>Password:</label>
    <input type="password" name="password" autocomplete="new-password" required>

    <button type="submit">Register</button>
</form>
 -->
